---
layout: markdown_page
title: "Product Vision - Package"
---

- TOC
{:toc}

## Package management

The Package stage of the DevOps pipeline focuses on creating a consistent and dependable supply chain and distribution layer to integrate with any development environment. Our goal is that this stage enables DevOps acceleration by ensuring software flows freely, quickly, and without interruption through your pipelines.

Note that this stage is also involved in delivering improvements for our
[mobile development and delivery](/direction/mobile) and [CI/CD](/direction/cicd) 
use cases. If you have an interest in these topics, please also take a look there.

<figure class="video_container">
<iframe src="https://www.youtube.com/embed/sexHPOVbAoA" frameborder="0" allowfullscreen="true" width="320" height="180"> </iframe>
</figure>

Feel free to reach out to PM Tim Rizzi ([E-Mail](mailto:trizzi@gitlab.com)) if you'd like to provide feedback or ask questions about what's coming.

## North Stars

There are a few important north stars we are keeping sight of to guide us forward in this space. With each of these, we're focusing on complete (what we call minimally lovable) features.

### Universal Package Management

Universal Package Managers such as [JFrog's Artifactory](https://jfrog.com/artifactory/) and [Sonatype's Nexus](https://www.sonatype.com/nexus-repository-sonatype) offer easy integration with a variety of package managers. They provide improved performance by allowing users to store and cache their binaries and avoid repetitive downloading with each build. The current GitLab offering is lacking in these areas. 

However as single-point solutions, they introduce extra cost and complexity. By providing a single location for the entire DevOps Lifecycle, we allow users to avoid unnecessary context switching and save money on additional licensing and maintenance fees. 

GitLab's strength comes from being a [single application](/handbook/product/#single-application) and will ensure a single interface with unified authentication for managing dependencies, registries, and package repositories. As of today, we support Maven, Docker, and NPM. We are building a universal package management solution, supporting a wide array of package repositories. This flexibility and accessibility will allow GitLab users to increase productivity by creating a consistent, unified experience.


### Dependable, Performant Supply Chains

Our initial focus has been on making supply chains accessible to ensure that sharing packages is easy. Next, we will focus on improving performance, reducing external dependencies, and giving administrators more control over their supply chains. We are actively working on improving our storage optimization features. We will allow users to set limits and policies and automatically act on those policies to reduce the cost of storage. 

After handling storage optimization, we will begin to roll out the GitLab Dependency Proxy. This will minimize the number of external downloads, improve build times, and reduce the risk of 3rd party outages. First, we will focus on the Container Registry, then roll out support for our other package manager integrations, such as Maven and NPM.

Having established the dependency proxy, we will begin to offer support for whitelisting and blacklisting of external dependencies. Along with GitLab's [dependency scanning](https://gitlab.com/groups/gitlab-org/-/epics/529) product, this will allow SecOps and Compliance teams to secure and control their supply chains. 


<%= partial("direction/categories", :locals => { :stageKey => "package" }) %>

<%= partial("direction/contribute", :locals => { :stageKey => "package" }) %>

## Prioritization Process

It's important to call out that the below plan can change any moment and should not be taken as a hard commitment, though we do try to keep things generally stable. In general, we follow the same [prioritization guidelines](/handbook/product/#prioritization) as the product team at large. Issues will tend to flow from having no milestone, to being added to the backlog, to being added to this page and/or a specific milestone for delivery.

## Upcoming Releases

<%= direction %>

<%= partial("direction/other", :locals => { :stage => "package" }) %>