---
layout: markdown_page
title: Category maturity by quarter
---

<%
def maturity(category, milestone)
  return case
  when category.lovable && category.lovable <= milestone
    "︎<span title=\"Lovable\">♥︎</span>"
  when category.complete && category.complete <= milestone
    "<span title=\"Complete\">●</span>"
  when category.viable && category.viable <= milestone
    "<span title=\"Viable\">◑</span>"
  when category.available && category.available <= milestone
    "<span title=\"Minimal\">◔</span>"
  else
    "<span title=\"None\">◯</span>"
  end
end
%>
| Category                       | Q1 | Q2 | Q3 | Q4 |
| *Date*                         | *2019-04-30* | *2019-07-31* | *2019-10-31* | *2020-01-31* |
|--------------------------------|:--:|:--:|:--:|:--:|
<% data.stages.stages.each do |stageKey, stage| %>
<%= "| **#{stage.display_name}<a name=\"#{stageKey}\"></a>** | | | | |" %>
  <% data.categories.select{|catKey,cat| cat.stage==stageKey}.each do |categoryKey, category| %>
    <% next if category.available.blank? %>
    <% categoryName = category.vision ? "[#{category.name}](#{category.vision})" : category.name %>
    <% q1 = maturity(category, Date.new(2019,04,30)) %>
    <% q2 = maturity(category, Date.new(2019,07,31)) %>
    <% q3 = maturity(category, Date.new(2019,10,31)) %>
    <% q4 = maturity(category, Date.new(2020,01,31)) %>
<%= "| #{categoryName} | #{q1} | #{q2} | #{q3} | #{q4} |" %>
  <% end %>
<% end %>

*Legend*
* ◯ = Planned to be shipped
* ◔ = Minimal
* ◑ = Viable
* ● = Complete
* ️️♥︎ ︎︎= Lovable